body {
    background-image: url('/img/fondo.jpg') ;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

div {
    text-align: center;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 24px;
}

#form-message {
    margin-top: 20px;
}

#input-message {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-message input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#log-message {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 auto; 
    max-height: 300px;
    overflow-y: auto;
    width: 70%; /* Limitar el ancho */
}

#log-message p {
    margin: 0;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    #input-message {
        width: 100%; 
    }

    #form-message input[type="submit"] {
        width: 100%; 
        margin-top: 10px;
    }

    #log-message {
        width: 100%; 
    }
}